* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1a1a;
  color: #f1f1f1;

}

.all-containers {
  padding: 20px 100px;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

h2 {
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

h3 {
  padding: 5px 0;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f1f1f1;
  width: 100%;
  height: fit-content;
  box-shadow: 1px 3px 8px #1b1a1a;
  border-radius: 5px;
  gap: 0.5rem;
  padding: 30px;
}

.movie {
  line-height: 1.5;
  width: 200px;
}

.search {
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.fa-brands {
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 8px;
}

img {
  height: 200px;
  width: 200px;
}

img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.a-tag {
  border: 1px solid #000;
  background-color: #3241e3;
  color: #f1f1f1;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 10px;
}

.a-tag:hover {
  cursor: pointer;
  transform: translateX(3x);
}